spring:
  profiles:
    active: local   # change to prod in deployment

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
